###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

/public/uploads
.idea/
/.idea
/public/build/
/src/Migrations/Version20180413174059.php
/src/Migrations/Version20180413174154.php
/src/Migrations/Version20180414171443.php
/src/Migrations/Version20180418130337.php
/src/Migrations/Version20180418130730.php
/src/Migrations/Version20180426184910.php
/src/Migrations/Version20180426185536.php
/src/Migrations/Version20180430194518.php
/src/Migrations/Version20180501142420.php
/src/Migrations/Version20180501143055.php
/src/Migrations/Version20180830012659.php
/src/Migrations/Version20180831181732.php
/src/Migrations/Version20180831195803.php
/src/Migrations/Version20180901171717.php
/src/Migrations/Version20180901184240.php
/src/Migrations/Version20180901184346.php
/src/Migrations/Version20181016183947.php
/src/Migrations/Version20181016184244.php
/src/Migrations/Version20181018165320.php
/src/Migrations/Version20181031150638.php
/src/Migrations/Version20190214204726.php
/src/Migrations/Version20181031163156.php
/src/Migrations/Version20190219195937.php
/src/Migrations/Version20190926151031.php
