.ad-space {
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid green;
}

.advertisement-img {
    width: 150px;
    height: auto;
    border: 2px solid #efefee;
    border-radius: 5px;
}

.advertisement-text {
    font-weight: bold;
}

.quote-space {
    background: #fff;
    margin-top: 30px;
    border-radius: 5px;
    border-top: 5px solid hotpink;
}
