<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    {% for path in encore_entry_css_files('app') %}
        <link rel="stylesheet" href="{{ absolute_url(path) }}">
    {% endfor %}
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Weekly report {{ 'now'|date('Y-m-d') }}</h1>

                {{ include('email/_report-table.html.twig') }}
            </div>
        </div>
    </div>
</body>
</html>
